* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Alata", sans-serif;
	background-color: black;
	color: #fff;
	overflow-x: hidden;
}

/* NAV-BAR */

nav {
	display: flex;
	background-color: black;
	color: white;
	justify-content: space-between;
	align-items: center;
	padding: 0.9rem 2rem;
}

.logo {
	font-size: 2.2rem;
	font-family: "Krona One", sans-serif;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.nav-ref {
	list-style-type: none;
}

.nav-ref a {
	font-size: 1.5rem;
	text-decoration: none;
	color: rgb(255, 244, 244);
	padding: 1rem 1.5rem;
	margin: 0 0.2rem;
	font-weight: bolder;
}

.nav-ref a:hover {
	border-bottom: 0.3rem solid white;
}

/* MAIN-IMG */

#img-div {
	width: 100%;
	overflow-x: hidden;
}

#image-caption {
	position: absolute;
	color: white;
	font-size: 7rem;
	top: 30rem;
	left: 5.3rem;
	line-height: 5.3rem;
	z-index: 1;
}

#image {
	width: 100%;
}

/* ABOUT */

#about {
	padding: 0.6rem;
	margin: 2rem;
}

.about-text-container {
	display: grid;
	align-items: center;
	padding: 1rem 3rem 3rem 3rem;
	background-color: rgb(27, 26, 26);
	border-radius: 5px;
	font-size: 1.1rem;
	margin: 1rem;
}

.section-heading {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

#albert {
	font-size: 1.6rem;
	font-weight: bolder;
}

#photoelectric {
	font-size: 1.3rem;
	font-weight: bold;
}

/* LIFE */

#life {
	padding: 0.6rem;
	margin: 2rem;
}

.life-container {
	display: grid;
	align-items: center;
	grid-template-columns: 5fr 1fr;
	gap: 2rem;
	padding: 3rem;
	background-color: rgb(27, 26, 26);
	border-radius: 5px;
	font-size: 1.1rem;
	margin: 1rem;
}

.life-img {
	border-radius: 0.2rem;
}

.caption {
	text-align: center;
	font-size: 1.5rem;
}

/* WORKS */

#works {
	padding: 0.6rem;
	margin: 2rem;
}

.work-container {
	display: grid;
	align-items: center;
	grid-template-columns: 2fr 1fr;
	gap: 2rem;
	padding: 3rem;
	background-color: rgb(27, 26, 26);
	border-radius: 5px;
	font-size: 1.1rem;
	margin: 1rem;
}

.work-img {
	width: 100%;
	border-radius: 0.2rem;
}

.work-head {
	font-size: 1.5rem;
	text-transform: uppercase;
	text-decoration: underline;
}
